<?xml version="1.0"?>
<config>
    <modules>
        <ThemeHeros_Thumb>
            <version>0.1.0</version>
        </ThemeHeros_Thumb>
    </modules>
    <frontend>
		<routers>
            <thumb>
                <use>standard</use>
                <args>
                    <module>ThemeHeros_Thumb</module>
                    <frontName>thumb</frontName>
                </args>
            </thumb>
        </routers>
        <layout>
            <updates>
                <thumb>
                    <file>thumb.xml</file>
                </thumb>
            </updates>
        </layout>		
    </frontend>
    <global>
        <resources>
            <thumb_setup>
                <setup>
                    <module>ThemeHeros_Thumb</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </thumb_setup>
            <thumb_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </thumb_write>
            <thumb_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </thumb_read>
        </resources>  
   </global>
</config> 