<?xml version="1.0"?>
<config>
	<modules>
		<Pixopa_Textfields>
			<version>0.1.1</version>
		</Pixopa_Textfields>
	</modules>
	
	<frontend>
		<routers>
			<textfields>
				<use>standard</use>
				<args>
					<module>Pixopa_Textfields</module>
					<frontName>textfields</frontName>
				</args>
			</textfields>
		</routers>
		<layout>
			<updates>
				<textfields>
					<file>textfields.xml</file>
				</textfields>
			</updates>
		</layout>
	</frontend>
	
	<global>
		<helpers>
			<textfields>
				<class>Pixopa_Textfields_Helper</class>
			</textfields>
		</helpers>
		<blocks>
			<textfields>
				<class>Pixopa_Textfields_Block</class>
			</textfields>
		</blocks>
		<models>
			<textfields>
				<class>Pixopa_Textfields_Model</class>
				<resourceModel>textfields_mysql4</resourceModel>
			</textfields>
			<textfields_mysql4>
				<class>Pixopa_Textfields_Model_Mysql4</class>
				<entities>
					<textfields>
						<table>px_textfields</table>
					</textfields>
				</entities>
			</textfields_mysql4>
		</models>
		<resources>
			<textfields_setup>
				<setup>
					<module>Pixopa_Textfields</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</textfields_setup>
			<textfields_write>
				<connection>
					<use>core_write</use>
				</connection>
			</textfields_write>
			<textfields_read>
				<connection>
					<use>core_read</use>
				</connection>
			</textfields_read>
		</resources>
	</global>

	<admin>
		<routers>
			<textfields>
				<use>admin</use>
				<args>
					<module>Pixopa_Textfields</module>
					<frontName>textfields</frontName>
				</args>
			</textfields>
		</routers>
	</admin>

	<adminhtml>
		<layout>
			<updates>
				<textfields>
					<file>textfields.xml</file>
				</textfields>
			</updates>
		</layout>
	</adminhtml>
</config> 