.forgot-password{
	padding: 70px 0;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	@media screen and (max-width: $mobile){
		padding: 10% 0;
	}
	.page-title{
		margin: 0 0 30px;
	}
	label{
		display: block;
		margin: 0 0 4px;
	}
	input{
		text-align: center;
	}
	.form-list{
		margin: 0 0 20px;
	}
	.btn-group{
		height: 36px;
	}
	button,
	.btn{
		display: inline-block;
		height: 100%;
		vertical-align: top;
		font-size: 15px;
		line-height: 18px;

	}
	a.btn{
		display: inline-block;
		vertical-align: top;
		padding: 9px 8px;
		height: 100%;
	}
}
