<?xml version="1.0"?>
<config>
    <modules>
        <Web4pro_Pixopa>
            <version>0.0.2</version>
        </Web4pro_Pixopa>
    </modules>
    <global>
        <helpers>
            <web4pro_pixopa>
                <class>Web4pro_Pixopa_Helper</class>
            </web4pro_pixopa>
            <template>
                <rewrite>
                    <data>Web4pro_Pixopa_Helper_Template</data>
                </rewrite>
            </template>
        </helpers>
        <models>
            <web4pro_pixopa>
                <class>Web4pro_Pixopa_Model</class>
            </web4pro_pixopa>
            <catalog>
                <rewrite>
                    <product_type_simple>Web4pro_Pixopa_Model_Product_Type_Simple</product_type_simple>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <web4pro_pixopa>
                <class>Web4pro_Pixopa_Block</class>
            </web4pro_pixopa>
        </blocks>
        <resources>
            <web4pro_pixopa_setup>
                <setup>
                    <module>Web4pro_Pixopa</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </web4pro_pixopa_setup>
            <web4pro_pixopa_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </web4pro_pixopa_read>
            <web4pro_pixopa_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </web4pro_pixopa_write>
        </resources>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <web4pro_pixopa_layout_load>
                        <type>singleton</type>
                        <class>web4pro_pixopa/observer</class>
                        <method>updateLayout</method>
                    </web4pro_pixopa_layout_load>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
    <frontend>
        <routers>
            <web4pro_pixopa>
                <use>standard</use>
                <args>
                    <module>Web4pro_Pixopa</module>
                    <frontName>web4pro_pixopa</frontName>
                </args>
            </web4pro_pixopa>
        </routers>
        <layout>
            <updates>
                <web4pro_pixopa>
                    <file>web4pro_pixopa.xml</file>
                </web4pro_pixopa>
            </updates>
        </layout>
        <events>
            <checkout_cart_save_before>
                <observers>
                    <limit_print_products_qty>
                        <type>singleton</type>
                        <class>web4pro_pixopa/observer</class>
                        <method>limitDesignProductQty</method>
                    </limit_print_products_qty>
                    <check_item_price>
                        <type>singleton</type>
                        <class>web4pro_pixopa/observer</class>
                        <method>checkItemPrice</method>
                    </check_item_price>
                </observers>
            </checkout_cart_save_before>
        </events>
    </frontend>
    <default>
        <dol_template>
            <options>
                <edit_ignore_list><![CDATA[Turnaround Time,Turnaround,Quantity,Scoring Options,Mailing Service,Bundling Service]]></edit_ignore_list>
            </options>
        </dol_template>
    </default>
</config>