<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Pixopa_Catalog>
             <version>0.1.0</version>
        </Pixopa_Catalog>
    </modules>
    
    <global>
        <models>
            <pixopa_catalog>
                <class>Pixopa_Catalog_Model</class>
                <resourceModel>pixopa_catalog_resource</resourceModel>
            </pixopa_catalog>
            <pixopa_catalog_resource>
	            <class>Pixopa_Catalog_Model_Resource</class>
	        </pixopa_catalog_resource>
	        <catalog_resource>
	        	<rewrite>
	        		<product_type_configurable>Pixopa_Catalog_Model_Resource_Product_Type_Configurable</product_type_configurable>
	        		<url>Pixopa_Catalog_Model_Resource_Url</url>
	        	</rewrite>
	        </catalog_resource>
	        <catalog>
	        	<rewrite>
	        		<url>Pixopa_Catalog_Model_Url</url>
	        		<category>Pixopa_Catalog_Model_Category</category>
	        		<!--<product_type_configurable>Pixopa_Catalog_Model_Product_Type_Configurable</product_type_configurable>
	        		<product_type_simple>Pixopa_Catalog_Model_Product_Type_Simple</product_type_simple>-->
	        		<!--<product_type_price>Pixopa_Catalog_Model_Product_Type_Price</product_type_price>-->
	        	</rewrite>
	        </catalog>
        </models>
        <blocks>
	        <catalog>
	        	<rewrite>
	        		<category_view>Pixopa_Catalog_Block_Category_View</category_view>
	        		<product_list>Pixopa_Catalog_Block_Product_List</product_list>
	        		<product_view>Pixopa_Catalog_Block_Product_View</product_view>
	        		<product_view_options>Pixopa_Catalog_Block_Product_View_Options</product_view_options>
	        		<!-- <product_view_options_type_select>Pixopa_Catalog_Block_Product_View_Options_Type_Select</product_view_options_type_select>
	        		<product_view_type_configurable>Pixopa_Catalog_Block_Product_View_Type_Configurable</product_view_type_configurable> -->
	        		<navigation>Pixopa_Catalog_Block_Navigation</navigation>
	        	</rewrite>
	        </catalog>
	        <page>
	        	<rewrite>
	        		<html_topmenu>Pixopa_Catalog_Block_Html_Topmenu</html_topmenu>
	        		<html_pager>Pixopa_Catalog_Block_Html_Pager</html_pager>
	        	</rewrite>
	        </page>
        </blocks>
        <helpers>
            <pixopa_catalog>
                <class>Pixopa_Catalog_Helper</class>
            </pixopa_catalog>
            <catalog>
	            <rewrite>
	        		<product_view>Pixopa_Catalog_Helper_Product_View</product_view>
	        		<product>Pixopa_Catalog_Helper_Product</product>
	        	</rewrite>
        	</catalog>
        </helpers>
        <resources>
            <px_catalog_setup>
                <setup>
                    <module>Pixopa_Catalog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </px_catalog_setup>
            <px_catalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </px_catalog_write>
            <px_catalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </px_catalog_read>
        </resources>
        <events>
        	<!--
        	<sales_quote_item_set_product>
                <observers>
                    <px_catalog>
                        <class>pixopa_catalog/observer</class>
                        <method>quoteItemSetProduct</method>
                    </px_catalog>
                </observers>
            </sales_quote_item_set_product>
            -->
            <catalog_product_save_after>
                <observers>
                    <px_catalog>
                        <class>pixopa_catalog/observer</class>
                        <method>clearProductCache</method>
                    </px_catalog>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
    
	<frontend>
        <routers>
            <pixopa_catalog>
                <use>standard</use>
                <args>
                    <modules>
	                    <module>Pixopa_Catalog</module>
	                    <frontName>px_catalog</frontName>
                    </modules>
                </args>
            </pixopa_catalog>
            <catalog>
                <args>
                    <modules>
                        <Pixopa_Catalog before="Mage_Catalog">Pixopa_Catalog</Pixopa_Catalog>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>
    
    <admin>
        <routers>
			 <pixopa_catalog>
				<use>admin</use>
				<args>
					 <module>Pixopa_Catalog</module>
	                 <frontName>px_catalog</frontName>
				</args>
			 </pixopa_catalog>
        </routers>
    </admin>
   
</config>
