<?xml version="1.0"?>
<config>
	<modules>
		<Pixopa_Customerdesigns>
			<version>0.1.0</version>
		</Pixopa_Customerdesigns>
	</modules>
	
	<frontend>
		<routers>
			<customerdesigns>
				<use>standard</use>
				<args>
					<module>Pixopa_Customerdesigns</module>
					<frontName>customerdesigns</frontName>
				</args>
			</customerdesigns>
		</routers>
		<layout>
			<updates>
				<customerdesigns>
					<file>customerdesigns.xml</file>
				</customerdesigns>
			</updates>
		</layout>
	</frontend>
	
	<admin>
		<routers>
			<customerdesigns>
				<use>admin</use>
				<args>
					<module>Pixopa_Customerdesigns</module>
					<frontName>customerdesigns</frontName>
				</args>
			</customerdesigns>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<customerdesigns>
							<title>Designs Module</title>
							<sort_order>200</sort_order>
						</customerdesigns>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<customerdesigns>
					<file>customerdesigns.xml</file>
				</customerdesigns>
			</updates>
		</layout>
	</adminhtml>
	
	<global>
		<models>
			<customerdesigns>
				<class>Pixopa_Customerdesigns_Model</class>
				<resourceModel>customerdesigns_mysql4</resourceModel>
			</customerdesigns>
			<customerdesigns_mysql4>
				<class>Pixopa_Customerdesigns_Model_Mysql4</class>
				<entities>
					<customerdesigns>
						<table>px_customer_design</table>
					</customerdesigns>
				</entities>
			</customerdesigns_mysql4>
		</models>
		<resources>
			<customerdesigns_setup>
				<setup>
					<module>Pixopa_Customerdesigns</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</customerdesigns_setup>
			<customerdesigns_write>
				<connection>
					<use>core_write</use>
				</connection>
			</customerdesigns_write>
			<customerdesigns_read>
				<connection>
					<use>core_read</use>
				</connection>
			</customerdesigns_read>
		</resources>
		<blocks>
			<customerdesigns>
				<class>Pixopa_Customerdesigns_Block</class>
			</customerdesigns>
		</blocks>
		<helpers>
			<customerdesigns>
				<class>Pixopa_Customerdesigns_Helper</class>
			</customerdesigns>
		</helpers>
	</global>
</config>