<?xml version="1.0"?>
<config>
	<modules>
		<Pixopa_Fonts>
			<version>0.1.20</version>
		</Pixopa_Fonts>
	</modules>
	
	<frontend>
		<routers>
			<fonts>
				<use>standard</use>
				<args>
					<module>Pixopa_Fonts</module>
					<frontName>fonts</frontName>
				</args>
			</fonts>
		</routers>
		<layout>
			<updates>
				<fonts>
					<file>fonts.xml</file>
				</fonts>
			</updates>
		</layout>
	</frontend>
	
	<global>
		<helpers>
			<fonts>
				<class>Pixopa_Fonts_Helper</class>
			</fonts>
		</helpers>
		<blocks>
			<fonts>
				<class>Pixopa_Fonts_Block</class>
			</fonts>
		</blocks>
		<models>
			<fonts>
				<class>Pixopa_Fonts_Model</class>
				<resourceModel>fonts_mysql4</resourceModel>
			</fonts>
			<fonts_mysql4>
				<class>Pixopa_Fonts_Model_Mysql4</class>
				<entities>
					<fonts>
						<table>px_fonts</table>
					</fonts>
				</entities>
			</fonts_mysql4>
		</models>
		<resources>
			<fonts_setup>
				<setup>
					<module>Pixopa_Fonts</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</fonts_setup>
			<fonts_write>
				<connection>
					<use>core_write</use>
				</connection>
			</fonts_write>
			<fonts_read>
				<connection>
					<use>core_read</use>
				</connection>
			</fonts_read>
		</resources>
	</global>
	
	<admin>
		<routers>
			<fonts>
				<use>admin</use>
				<args>
					<module>Pixopa_Fonts</module>
					<frontName>fonts_admin</frontName>
				</args>
			</fonts>
		</routers>
	</admin>
	
	<adminhtml>
		<layout>
			<updates>
				<fonts>
					<file>fonts.xml</file>
				</fonts>
			</updates>
		</layout>
	</adminhtml>
</config> 