<?xml version="1.0"?>
<config>
    <modules>
        <ThemeHeros_Filterslayer>
            <version>0.1.0</version>
        </ThemeHeros_Filterslayer>
    </modules>
    <frontend>
        <routers>
            <filterslayer>
                <use>standard</use>
                <args>
                    <module>ThemeHeros_Filterslayer</module>
                    <frontName>filterslayer</frontName>
                </args>
            </filterslayer>
        </routers>
        <layout>
            <updates>
                <filterslayer>
                    <file>filterslayer.xml</file>
                </filterslayer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<filterslayer>
				<use>admin</use>
				<args>
					<module>ThemeHeros_Filterslayer</module>
					<frontName>filterslayer</frontName>
				</args>
			</filterslayer>
        </routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<ThemeHeros_Filterslayer>
							<title>Filterslayer Module</title>
							<sort_order>10</sort_order>
						</ThemeHeros_Filterslayer>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<filterslayer>
					<file>filterslayer.xml</file>
				</filterslayer>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <catalog>
                <rewrite>
                    <layer_filter_price>ThemeHeros_Filterslayer_Model_Layer_Filter_Price</layer_filter_price>
                    <layer_filter_item>ThemeHeros_Filterslayer_Model_Layer_Filter_Item</layer_filter_item>
                    <layer_filter_attribute>ThemeHeros_Filterslayer_Model_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_category>ThemeHeros_Filterslayer_Model_Layer_Filter_Category</layer_filter_category>
                </rewrite>
            </catalog>
            <catalog_resource>
                 <rewrite>
                    <layer_filter_attribute>ThemeHeros_Filterslayer_Model_Resource_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>ThemeHeros_Filterslayer_Model_Resource_Layer_Filter_Price</layer_filter_price>
                 </rewrite>
            </catalog_resource>
            <catalogsearch>
                 <rewrite>
                    <layer_filter_attribute>ThemeHeros_Filterslayer_Model_Layer_Search_Filter_Attribute</layer_filter_attribute>
                 </rewrite>
            </catalogsearch>
            <filterslayer>
                <class>ThemeHeros_Filterslayer_Model</class>
                <resourceModel>filterslayer_mysql4</resourceModel>
            </filterslayer>
            <filterslayer_mysql4>
                <class>ThemeHeros_Filterslayer_Model_Mysql4</class>
                <entities>
                    <filterslayer>
                        <table>filterslayer</table>
                    </filterslayer>
                </entities>
            </filterslayer_mysql4>
        </models>
        <events>
            <controller_action_layout_render_before_catalog_category_view>
                <observers>
                    <catalog_category_render>
                        <type>singleton</type>
                        <class>ThemeHeros_Filterslayer_Model_Catalog_Category_Observer</class>
                        <method>renderlayout</method>
                    </catalog_category_render>
                </observers>
            </controller_action_layout_render_before_catalog_category_view> 
             <controller_action_layout_render_before_catalogsearch_result_index>
                <observers>
                    <catalog_category_render>
                        <type>singleton</type>
                        <class>ThemeHeros_Filterslayer_Model_Catalog_Category_Observer</class>
                        <method>renderlayout</method>
                    </catalog_category_render>
                </observers>
            </controller_action_layout_render_before_catalogsearch_result_index>
        </events>
        
        <rewrite>
            <filterslayer_adminhtml>
                <from><![CDATA[#^/admin/catalog_product_attribute/save#]]></from>
                <to>filterslayer/adminhtml_catalog_product_attribute/save</to>
            </filterslayer_adminhtml>
        </rewrite>
        
        
        <resources>
            <filterslayer_setup>
                <setup>
                    <module>ThemeHeros_Filterslayer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filterslayer_setup>
            <filterslayer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </filterslayer_write>
            <filterslayer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </filterslayer_read>
        </resources>
        <blocks>
            <catalog>
                <rewrite>
                    <layer_filter_price>ThemeHeros_Filterslayer_Block_Layer_Filter_Price</layer_filter_price>
                    <layer_filter_attribute>ThemeHeros_Filterslayer_Block_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_category>ThemeHeros_Filterslayer_Block_Layer_Filter_Category</layer_filter_category>
                    <layer_state>ThemeHeros_Filterslayer_Block_Layer_State</layer_state>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <layer_filter_attribute>ThemeHeros_Filterslayer_Block_Layer_Search_Search</layer_filter_attribute>
                 </rewrite>
            </catalogsearch>
            
            <adminhtml>
                <rewrite>
                    <catalog_product_attribute_edit_tabs>ThemeHeros_Filterslayer_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tabs</catalog_product_attribute_edit_tabs>
                    <catalog_product_attribute_edit_form>ThemeHeros_Filterslayer_Block_Adminhtml_Catalog_Product_Attribute_Edit_Form</catalog_product_attribute_edit_form>
                    <catalog_product_attribute_edit_tab_options>ThemeHeros_Filterslayer_Block_Adminhtml_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
                </rewrite>
            </adminhtml>
            <filterslayer>
                <class>ThemeHeros_Filterslayer_Block</class>
            </filterslayer>
        </blocks>
        <helpers>
            <filterslayer>
                <class>ThemeHeros_Filterslayer_Helper</class>
            </filterslayer>
        </helpers>
    </global>
    
</config>