<?xml version="1.0"?>

<config>
    <modules>
        <ThemeHeros_Lightbox>
            <version>2.0</version>
        </ThemeHeros_Lightbox>
    </modules>
    <global>
        <helpers>
            <lightbox>
                <class>ThemeHeros_Lightbox_Helper</class>
            </lightbox>
        </helpers>
		<models>		
			<lightbox>
				<class>ThemeHeros_Lightbox_Model</class>
			</lightbox>  		
		</models>
        <resources>
            <lightbox_setup>
                <setup>
                    <module>ThemeHeros_Lightbox</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lightbox_setup>
            <lightbox_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lightbox_write>
            <lightbox_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lightbox_read>
        </resources>
    </global>
	<default>
        <lightbox>
            <general>
                <defaullightbox>1</defaullightbox>				
            </general>			
        </lightbox>		
    </default>
    <frontend>
        <layout>
            <updates>
                <lightbox>
                    <file>lightbox.xml</file>
                </lightbox>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <lightbox>
                                            <title>ThemeHeros Lightbox</title>
                                        </lightbox>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
