<?xml version="1.0"?>
<config>
    <modules>
        <Web4pro_Fourover>
            <version>0.1.1</version>
        </Web4pro_Fourover>
    </modules>
    <global>
        <helpers>
            <web4pro_4over>
                <class>Web4pro_Fourover_Helper</class>
            </web4pro_4over>
        </helpers>
        <models>
            <web4pro_4over>
                <class>Web4pro_Fourover_Model</class>
                <resourceModel>web4pro_4over_resource</resourceModel>
            </web4pro_4over>
            <web4pro_4over_resource>
                <class>Web4pro_Fourover_Model_Resource</class>
                <entities>
                    <order>
                        <table>w4p_fover_order</table>
                    </order>
                    <option>
                        <table>w4p_fover_option</table>
                    </option>
                    <option_temp>
                        <table>w4p_fover_option_temp</table>
                    </option_temp>
                    <product>
                        <table>w4p_fover_product</table>
                    </product>
                    <product_temp>
                        <table>w4p_fover_product_temp</table>
                    </product_temp>
                    <baseprice>
                        <table>w4p_fover_baseprice</table>
                    </baseprice>
                    <turnaround>
                        <table>w4p_fover_turnaround</table>
                    </turnaround>
                    <product_quote>
                        <table>w4p_fover_product_quote</table>
                    </product_quote>
                </entities>
            </web4pro_4over_resource>
            <sales>
                <rewrite>
                    <order_item>Web4pro_Fourover_Model_Sales_Order_Item</order_item>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <web4pro_4over>
                <class>Web4pro_Fourover_Block</class>
            </web4pro_4over>
        </blocks>
        <resources>
            <web4pro_4over_setup>
                <setup>
                    <module>Web4pro_Fourover</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </web4pro_4over_setup>
        </resources>
        <template>
            <email>
                <web4pro_4over_order_send_fail_template>
                    <label>4Over Order Placement Failed Template</label>
                    <file>web4pro/fover_order_placement_failed.html</file>
                    <type>html</type>
                </web4pro_4over_order_send_fail_template>
            </email>
        </template>
    </global>
    <default>
        <fover_connection>
            <api_url>
                <sandbox>https://sandbox-api.4over.com/</sandbox>
                <live>https://api.4over.com/</live>
            </api_url>
        </fover_connection>
        <fover_product_options>
            <mapping>
                <runsize_labels>Quantity</runsize_labels>
                <colorspec_labels>Printing Sides</colorspec_labels>
                <turnaround_labels>Turnaround</turnaround_labels>
            </mapping>
        </fover_product_options>
        <fover_product_update>
            <prices>
                <margin>60</margin>
            </prices>
        </fover_product_update>
        <carriers>
            <fourover>
                <active>1</active>
                <model>web4pro_4over/carrier</model>
                <name>4over INC</name>
                <title>4over INC Shipping</title>
                <rateadd>20</rateadd>
            </fourover>
        </carriers>
    </default>
    <crontab>
        <jobs>
            <web4pro_4over_order_place>
                <schedule>
                    <cron_expr>*/20 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>web4pro_4over/observer::postOrders</model>
                </run>
            </web4pro_4over_order_place>
            <web4pro_4over_order_status_update>
                <schedule>
                    <cron_expr>*/10 21,22,23,0,1,2,3,4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>web4pro_4over/observer::updateJobStatuses</model>
                </run>
            </web4pro_4over_order_status_update>
            <web4pro_4over_products_info_update>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>web4pro_4over/observer::updateProductsInfo</model>
                </run>
            </web4pro_4over_products_info_update>
            <web4pro_4over_products_initiate_pricelist_update>
                <schedule>
                    <cron_expr>0 0 1 */2 *</cron_expr>
                </schedule>
                <run>
                    <model>web4pro_4over/observer::initiateUpdateProductsPricelist</model>
                </run>
            </web4pro_4over_products_initiate_pricelist_update>
            <web4pro_4over_products_pricelist_update>
                <schedule>
                    <cron_expr>30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>web4pro_4over/observer::updateProductsPricelist</model>
                </run>
            </web4pro_4over_products_pricelist_update>
            <web4pro_4over_retrieve_product_turnaround>
                <schedule>
                    <cron_expr>20 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>web4pro_4over/observer::retrieveProductTurnaround</model>
                </run>
            </web4pro_4over_retrieve_product_turnaround>
            <web4pro_4over_update_turnaround_shipping_rates>
                <schedule>
                    <cron_expr>20 */2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>web4pro_4over/observer::updateUpsGroundRates</model>
                </run>
            </web4pro_4over_update_turnaround_shipping_rates>
            <web4pro_4over_prepare_save_product_quotes_map>
                <schedule>
                    <cron_expr>30 1 * 15 *</cron_expr>
                </schedule>
                <run>
                    <model>web4pro_4over/observer::prepareSaveProductQuotesMap</model>
                </run>
            </web4pro_4over_prepare_save_product_quotes_map>
            <web4pro_4over_retrieve_product_prices_by_quotes_map>
                <schedule>
                    <cron_expr>20,40 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>web4pro_4over/observer::retrieveProductPricesByQuotesMap</model>
                </run>
            </web4pro_4over_retrieve_product_prices_by_quotes_map>
            <web4pro_4over_update_option_prices_from_quotes>
                <schedule>
                    <cron_expr>50 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>web4pro_4over/observer::updateOptionPricesFromRequestedQuotes</model>
                </run>
            </web4pro_4over_update_option_prices_from_quotes>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <fourover>
                <use>standard</use>
                <args>
                    <module>Web4pro_Fourover</module>
                    <frontName>fourover</frontName>
                </args>
            </fourover>
        </routers>
        <layout>
            <updates>
                <web4pro_4over>
                    <file>fourover.xml</file>
                </web4pro_4over>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <fourover_admin>
                <use>admin</use>
                <args>
                    <module>Web4pro_Fourover</module>
                    <frontName>fourover_admin</frontName>
                </args>
            </fourover_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <fourover>
                    <file>fourover.xml</file>
                </fourover>
            </updates>
        </layout>
        <events>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <web4pro_4over>
                        <class>web4pro_4over/observer</class>
                        <method>addProductUuidRender</method>
                    </web4pro_4over>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
            <core_layout_block_create_after>
                <observers>
                    <web4pro_4over>
                        <class>web4pro_4over/observer</class>
                        <method>addOrderUnlockButton</method>
                    </web4pro_4over>
                </observers>
            </core_layout_block_create_after>
        </events>
    </adminhtml>
</config>
