<?xml version="1.0"?>
<config>
    <modules>
        <Web4pro_Customer>
            <version>0.0.1</version>
        </Web4pro_Customer>
    </modules>
    <global>
        <helpers>
            <web4pro_customer>
                <class>Web4pro_Customer_Helper</class>
            </web4pro_customer>
        </helpers>
        <models>
            <web4pro_customer>
                <class>Web4pro_Customer_Model</class>
                <resourceModel>web4pro_customer_resource</resourceModel>
            </web4pro_customer>
            <web4pro_customer_resource>
                <class>Web4pro_Customer_Model_Resource</class>
                <entities>
                </entities>
            </web4pro_customer_resource>
        </models>
        <blocks>
            <web4pro_customer>
                <class>Web4pro_Customer_Block</class>
            </web4pro_customer>
        </blocks>
        <resources>
            <web4pro_customer_setup>
                <setup>
                    <module>Web4pro_Customer</module>
                </setup>
            </web4pro_customer_setup>
        </resources>
        <events>
            <controller_action_postdispatch_customer_account_loginPost>
                <observers>
                    <customermenu>
                        <type>singleton</type>
                        <class>web4pro_customer/observer</class>
                        <method>redirectReferer</method>
                    </customermenu>
                </observers>
            </controller_action_postdispatch_customer_account_loginPost>
        </events>
    </global>
</config>