<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Pixopa_Customer>
             <version>0.1.2</version>
        </Pixopa_Customer>
    </modules>
    <global>
        <helpers>
            <customer>
                <rewrite>
                    <data>Pixopa_Customer_Helper_Data</data>
                </rewrite>
            </customer>
        </helpers>
        <models>
        	<customer>
	            <rewrite>
	                <image>Pixopa_Customer_Model_Image</image>
	            </rewrite>
            </customer>
            <customer_resource>
	        	<rewrite>
	                <image>Pixopa_Customer_Model_Resource_Image</image>
	                <image_collection>Pixopa_Customer_Model_Resource_Image_Collection</image_collection>
	            </rewrite>
            </customer_resource>
            <customer_mysql4>
                <class>Pixopa_Customer_Model_Mysql4</class>
                <entities>
                    <image>
                        <table>px_customer_image</table>
                    </image>
                </entities>
            </customer_mysql4>
        </models>
        <resources>
            <pxcustomer_setup>
                <setup>
                    <module>Pixopa_Customer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pxcustomer_setup>
            <pxcustomer_setup>
                <connection>
                    <use>core_write</use>
                </connection>
            </pxcustomer_setup>
            <pxcustomer_setup>
                <connection>
                    <use>core_read</use>
                </connection>
            </pxcustomer_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <pxcustomer>
                    <file>px_customer.xml</file>
                </pxcustomer>
            </updates>
        </layout>
        <routers>
            <pxcustomer>
                <use>standard</use>
                <args>
                    <module>Pixopa_Customer</module>
                    <frontName>customer</frontName>
                </args>
            </pxcustomer>
            <customer>
                <args>
                    <modules>
                    </modules>
                </args>
            </customer>
        </routers>
        <default>
            <router>customer</router>
        </default>
        <translate>
            <modules>
                <Pixopa_Customer>
                    <files>
                        <default>Pixopa_Customer.csv</default>
                    </files>
                </Pixopa_Customer>
            </modules>
        </translate>
    </frontend>
</config>
