<?xml version="1.0"?>
<config>
	<modules>
		<Pixopa_Blueprint>
			<version>0.1.4</version>
		</Pixopa_Blueprint>
	</modules>
	
	<frontend>
		<routers>
			<blueprint>
				<use>standard</use>
				<args>
					<module>Pixopa_Blueprint</module>
					<frontName>blueprint</frontName>
				</args>
			</blueprint>
		</routers>
		<layout>
			<updates>
				<blueprint>
					<file>blueprint.xml</file>
				</blueprint>
			</updates>
		</layout>
	</frontend>
	
	<global>
		<helpers>
			<blueprint>
				<class>Pixopa_Blueprint_Helper</class>
			</blueprint>
		</helpers>

		<blocks>
			<blueprint>
				<class>Pixopa_Blueprint_Block</class>
			</blueprint>
		</blocks>
		<models>
			<blueprint>
				<class>Pixopa_Blueprint_Model</class>
				<resourceModel>blueprint_mysql4</resourceModel>
			</blueprint>
			<blueprint_mysql4>
				<class>Pixopa_Blueprint_Model_Mysql4</class>
				<entities>
					<blueprint>
						<table>px_blueprint</table>
					</blueprint>
					<content>
						<table>px_blueprint_content</table>
					</content>
				</entities>
			</blueprint_mysql4>
		</models>
		<resources>
			<blueprint_setup>
				<setup>
					<module>Pixopa_Blueprint</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</blueprint_setup>
			<blueprint_write>
				<connection>
					<use>core_write</use>
				</connection>
			</blueprint_write>
			<blueprint_read>
				<connection>
					<use>core_read</use>
				</connection>
			</blueprint_read>
		</resources>
	</global>
	
	<admin>
		<routers>
			<blueprint>
				<use>admin</use>
				<args>
					<module>Pixopa_Blueprint</module>
					<frontName>blueprint</frontName>
				</args>
			</blueprint>
		</routers>
	</admin>
	
	<adminhtml>
		<layout>
			<updates>
				<blueprint>
					<file>blueprint.xml</file>
				</blueprint>
			</updates>
		</layout>
	</adminhtml>
</config> 