<?xml version="1.0"?>
<config>
    <modules>
        <Web4pro_Pixopa>
            <version>0.0.2</version>
        </Web4pro_Pixopa>
    </modules>
    <global>
        <helpers>
            <web4pro_testimonial>
                <class>Web4pro_Testimonial_Helper</class>
            </web4pro_testimonial>
        </helpers>
        <blocks>
            <web4pro_testimonial>
                <class>Web4pro_Testimonial_Block</class>
            </web4pro_testimonial>
        </blocks>
    </global>
    <frontend>
        <routers>
            <web4pro_testimonial>
                <use>standard</use>
                <args>
                    <module>Web4pro_Testimonial</module>
                    <frontName>web4pro_testimonial</frontName>
                </args>
            </web4pro_testimonial>
        </routers>
        <layout>
            <updates>
                <web4pro_testimonial>
                    <file>web4pro_testimonial.xml</file>
                </web4pro_testimonial>
            </updates>
        </layout>
    </frontend>
</config>