<?xml version="1.0"?>
<config>
	<modules>
		<Pixopa_Color>
			<version>0.1.0</version>
		</Pixopa_Color>
	</modules>
	
	<frontend>
		<routers>
			<color>
				<use>standard</use>
				<args>
					<module>Pixopa_Color</module>
					<frontName>color</frontName>
				</args>
			</color>
		</routers>
		<layout>
			<updates>
				<color>
					<file>color.xml</file>
				</color>
			</updates>
		</layout>
	</frontend>
	
	<global>
		<helpers>
			<color>
				<class>Pixopa_Color_Helper</class>
			</color>
		</helpers>

		<blocks>
			<color>
				<class>Pixopa_Color_Block</class>
			</color>
		</blocks>
		<models>
			<color>
				<class>Pixopa_Color_Model</class>
				<resourceModel>color_mysql4</resourceModel>
			</color>
			<color_mysql4>
				<class>Pixopa_Color_Model_Mysql4</class>
				<entities>
					<color>
						<table>px_color</table>
					</color>
				</entities>
			</color_mysql4>
		</models>
		<resources>
			<color_setup>
				<setup>
					<module>Pixopa_Color</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</color_setup>
			<color_write>
				<connection>
					<use>core_write</use>
				</connection>
			</color_write>
			<color_read>
				<connection>
					<use>core_read</use>
				</connection>
			</color_read>
		</resources>
	</global>
	
	<admin>
		<routers>
			<color>
				<use>admin</use>
				<args>
					<module>Pixopa_Color</module>
					<frontName>color</frontName>
				</args>
			</color>
		</routers>
	</admin>
	
	<adminhtml>
		<layout>
			<updates>
				<color>
					<file>color.xml</file>
				</color>
			</updates>
		</layout>
	</adminhtml>

</config> 