<?xml version="1.0"?>
<config>
    <modules>
        <Web4pro_Featuredcategory>
            <version>0.0.2</version>
        </Web4pro_Featuredcategory>
    </modules>
    <global>
        <helpers>
            <featuredcategory>
                <class>Web4pro_Featuredcategory_Helper</class>
            </featuredcategory>
        </helpers>
        <blocks>
            <featuredcategory>
                <class>Web4pro_Featuredcategory_Block</class>
            </featuredcategory>
        </blocks>
        <resources>
            <featuredcategory_setup>
                <setup>
                    <module>Web4pro_Featuredcategory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featuredcategory_setup>
            <featuredcategory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featuredcategory_read>
            <featuredcategory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featuredcategory_write>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <featuredcategory>
                    <file>featuredcategory.xml</file>
                </featuredcategory>
            </updates>
        </layout>
    </frontend>
    <default>
        <featured>
            <general>
                <categories_in_block>6</categories_in_block>
            </general>
        </featured>
    </default>
</config>