<?xml version="1.0"?>
<config>
    <modules>
        <Web4pro_Banner>
            <version>0.1.3</version>
        </Web4pro_Banner>
    </modules>
    <global>
        <helpers>
            <banner>
                <class>Web4pro_Banner_Helper</class>
            </banner>
        </helpers>
        <blocks>
            <banner>
                <class>Web4pro_Banner_Block</class>
            </banner>
        </blocks>
        <models>
            <banner>
                <class>Web4pro_Banner_Model</class>
                <resourceModel>banner_mysql4</resourceModel>
            </banner>
            <banner_mysql4>
                <class>Web4pro_Banner_Model_Mysql4</class>
                <entities>
                    <banner>
                        <table>web4pro_banner</table>
                    </banner>
                    <catalog_category>
                        <table>web4pro_banner_catalog_category</table>
                    </catalog_category>
                </entities>
            </banner_mysql4>
        </models>
        <resources>
            <banner_setup>
                <setup>
                    <module>Web4pro_Banner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banner_setup>
            <banner_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </banner_read>
            <banner_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </banner_write>
        </resources>
        <events>
            <web4pro_banner_save_after>
                <observers>
                    <banner>
                        <type>singleton</type>
                        <class>banner/observer</class>
                        <method>web4pro_banner_save_after</method>
                    </banner>
                </observers>
            </web4pro_banner_save_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <banner>
                    <file>banner.xml</file>
                </banner>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <banner before="Mage_Adminhtml">Web4pro_Banner_Adminhtml</banner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--<admin>
        <routers>
            <banner>
                <use>admin</use>
                <args>
                    <module>Web4pro_Banner</module>
                    <frontName>banner</frontName>
                </args>
            </banner>
        </routers>
    </admin>-->
    <adminhtml>
        <layout>
            <updates>
                <banner>
                    <file>banner.xml</file>
                </banner>
            </updates>
        </layout>
        <translate>
            <modules>
                <Web4pro_Banner>
                    <files>
                        <default>Web4pro_Banner.csv</default>
                    </files>
                </Web4pro_Banner>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <banner>
            <general>
                <rotata_duration>20</rotata_duration>
            </general>
            <groups>
                <home_tabs>
                    <label>Home Slider</label>
                    <enabled>1</enabled>
                    <is_grouped>1</is_grouped>
                    <is_accordion>1</is_accordion>
                </home_tabs>
                <catalog_tabs>
                    <label>Catalog carousel</label>
                    <enabled>1</enabled>
                    <is_grouped>1</is_grouped>
                    <is_accordion>0</is_accordion>
                </catalog_tabs>
                <home_set>
                    <label>Home set</label>
                    <enabled>1</enabled>
                    <is_grouped>1</is_grouped>
                    <is_set>1</is_set>
                </home_set>
                <under_breadcrumb>
                    <label>Under breadcrumb</label>
                    <enabled>1</enabled>
                    <is_grouped>1</is_grouped>
                    <is_under_breadcrumb>1</is_under_breadcrumb>
                </under_breadcrumb>
                <under_breadcrumb_multi>
                    <label>Under breadcrumb multi</label>
                    <enabled>1</enabled>
                    <is_grouped>1</is_grouped>
                    <is_under_breadcrumb_multi>1</is_under_breadcrumb_multi>
                </under_breadcrumb_multi>
                  <under_breadcrumb_multi_bottega>
                    <label>Under breadcrumb multi for bottega</label>
                    <enabled>1</enabled>
                    <is_grouped>1</is_grouped>
                    <is_under_breadcrumb_multi>1</is_under_breadcrumb_multi>
                </under_breadcrumb_multi_bottega>
            </groups>
        </banner>
    </default>
</config>
