<?xml version="1.0"?>
<config>
    <modules>
        <Web4pro_Topnav>
            <version>0.0.2</version>
        </Web4pro_Topnav>
    </modules>
    <global>
        <helpers>
        	<topnav>
			  <class>Web4pro_Topnav_Helper</class>
			</topnav>
        </helpers>
        <blocks>
        	<page>
        		<rewrite>
        			<html_topmenu_renderer>Web4pro_Topnav_Block_Html_Topmenu_Renderer</html_topmenu_renderer>
        		</rewrite>
        	</page>
			 <topnav>
                <class>Web4pro_Topnav_Block</class>
            </topnav>
        </blocks>
        <resources>
			<topnav_setup>
				<setup>
					<module>Web4pro_Topnav</module>
				</setup>
			   <connection>
			   		<use>default_setup</use>
			   </connection>
			</topnav_setup>
	    </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <topnav>
                    <file>topnav.xml</file>
                </topnav>
            </updates>
        </layout>
    </frontend>
</config>